<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smarttalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/smarttalk"
        android:label="@string/SmartTalk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">
        <activity android:name=".group.activity.SelectNewParticipants"></activity>
        <activity android:name=".schedule.activity.CreateSchedule" />
        <activity android:name=".schedule.activity.MessageSchedule" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.MessageActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.AuthenticationActivity" />
        <activity android:name=".activity.GetStartedActivity" />
        <activity android:name=".activity.HomeActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".retrofit.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".schedule.services.MyBroadcastReceiver" />
    </application>

</manifest>